:root {
    --yellow: #D39B3E;
    --red: #AF3727;
    --green: #6B9334;
    --blue: #8AC0BC;
    --bg: #FFF8E5;
    --border-rad: 3px;
  
}

.ProjectCard {
    background-color: transparent;
    width: 10em;
    height: 6em;
    position: absolute;
    font-size: 1.2em;
    font-family: 'IBM Plex Sans', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 800px;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: perspective(800px);
    backface-visibility: hidden;
    transition: all 0.5s;
    font-size: 1.2em;
    color: var(--yellow);
    border: 3px; 
    border-style:solid; 
    border-color:var(--green);
    overflow: hidden;
    padding: 1.7em;
    border-radius: var(--border-rad);
    letter-spacing: 1px;
}

.ProjectCard:hover .front {
    transform: rotateX(180deg);
}

.front::before {
    position: absolute;
    bottom: -25px;
    width: 50px;
    height: 50px;
}

.back {
    /* background: red; */
    position: relative; 
    width: 100%;
    height: 100%;
    transform: perspective(800px)rotateY(0deg);
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all 0.5s;
    flex-direction: column;
    transform: rotateX(180deg);
    padding: 1.7em;
    /* padding-top: 4em; */
    overflow: hidden;
    
    border: 3px; 
    border-style:solid; 
    border-color:var(--green);
    font-size: 0.9em;
    color: var(--yellow);
    line-height: 170%;
    border-radius: var(--border-rad);
    letter-spacing: 1px;
}

.viewproj {
    /* background: red; */
    position: absolute;
    /* width: 50%; */
    bottom: 0px;
    right: 0px;
    font-size: 0.9em;
    /* i don't have bold for this font */
    /* font-weight: 3000; */
    color: var(--red);
    text-align: left;
    text-decoration: none;
    /* line-height: 170%; */
    /* border-radius: var(--border-rad); */
    letter-spacing: 1px;
    margin: 0 6px 3px 0;
}

.techstack {
    /* background: red; */
    position: absolute;
    /* width: 50%; */
    bottom: 0px;
    right: 0px;
    font-size: 0.9em;
    color: var(--red);
    text-align: left;
    /* line-height: 170%; */
    /* border-radius: var(--border-rad); */
    letter-spacing: 1px;
    margin: 5px;
}

.ProjectCard:hover .back {
    transform: rotateX(0deg);
}

.front_star {
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: -48px;
    right: 0.5em;
    text-align: center;
    /* vertical-align: 50%; */
    /* letter-spacing: 2.5px; */
    font-size: 3.3em;
    font-family: 'Cantata One';
    color: var(--yellow);

    border: 3px; 
    border-style:solid; 
    border-color:var(--red); 
    padding: 0px;
    margin: 0px;
}

.back_star {
    background-color: aqua;
    width: 1em;
    height: 1em;
    position: absolute;
    top: -280px;
    left: 100px;
    text-align: center;
    top: 0px;
    font-size: 3.3em;
    font-family: 'Cantata One';
    color: var(--yellow);

    border: 3px; 
    border-style:solid; 
    border-color:var(--red); 
    /* padding-bottom: -5px; */
    padding: 0px;
    margin: 0px; 
}

/* .p {
    position: absolute;
    top: 0px;
    font-size: 3.3em;
    font-family: 'Cantata One';
    color: var(--yellow);
} */