:root {
    --yellow: #D39B3E;
    --red: #AF3727;
    --green: #6B9334;
    --blue: #8AC0BC;
    --bg: #FFF8E5;
  
}

.Goodbye{
    /* background-color: blue; */
    width: 100vw;
    min-height: 70vh;
    position: relative;
    display: block;
}

.thanks {
    width: 800px;
    height: 80px;
    position: relative;
    left: 150px;
    font-size: 4em; 
    letter-spacing: 2.5px;
    font-family: 'Asap', serif;
    color: var(--red);
    top: 20vh;
}

.contact_me {
    /* background-color: black; */
    width: 800px;
    height: 6em;
    position: relative;
    left: 150px;
    line-height: 200%;
    font-size: 1.2em;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--red);
    top: 20vh;
    
}
.linkedin {
    color: var(--yellow);
    text-decoration: none;
}

/* .btn {
    width: 5em;
    position: absolute;
    top: 100px;
    right: 100px;
    background: transparent;
    font-size: 0.8em;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    outline: none;
    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border: 1px solid var(--blue);
    border-radius: 2px;
    letter-spacing: 0.4em;
    
}

.resume {
    width: 100px;
    color: var(--red);
    text-decoration: none;

    padding: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    border: 1px solid var(--blue);
    border-radius: 2px;
    letter-spacing: 0.4em;
}  */

