:root {
    --yellow: #D39B3E;
    --red: #AF3727;
    --green: #6B9334;
    --blue: #8AC0BC;
    --bg: #FFF8E5;
  
}

.Projects{
    /* background-color: lightgreen; */
    width: 100vw;
    min-height: 130vh;
    position: relative;
    display: block;
    margin-top: 8em;
    font-family: 'IBM Plex Sans', sans-serif;
}

.projects_title {
    width: 800px;
    height: 80px;
    position: relative;
    left: 150px;
    font-size: 4em; 
    letter-spacing: 2.5px;
    font-family: 'Asap', 'Source Sans Pro';
    color: var(--green);
}


.p5 {
    /* width: 10em;
    height: 5em; */
    position: absolute;
    top: 400px;
    left: 230px;
}

.byow {
    /* width: 10em;
    height: 5em; */
    position: absolute;
    top: 270px;
    left: 850px;
}

.tgif {
    /* width: 10em;
    height: 5em; */
    position: absolute;
    top: 650px;
    left: 680px;
}
.proj_star {
    width: 1em;
    height: 1em;
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: center;
    /* vertical-align: 50%; */
    letter-spacing: 2.5px;
    font-size: 3em;
    font-family: 'Cantata One';
    color: var(--yellow);

    border: 3px; 
    border-style:solid; 
    border-color:var(--red); 
    padding: 0px;
    margin: 0px;
}

.walmart_star {
    /* background-color: aquamarine; */
    width: 1em;
    /* height: 1em; */
    position: absolute;
    left: 10em;
    font-size: 6em;
    color: var(--green);
    font-family: 'Balthazar';
    padding: 5px 0px;
}